body {
  margin: 0 auto;
  max-width: 93.75%;
  width: 880px;
  background: #E7F3FF;
  color: #1C000E;
  text-shadow: 0 1px 0 #FFF;
  font: 13px/1.230769231 sans-serif;
}

a {
  color: #0074E7;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  color: #0067CE;
}

h1 {
  margin: 16px 0 0 24px;
  font-weight: normal;
  font-size: 39px;
}

small {
  display: block;
  margin: 0 0 11px 24px;
  font-size: 11px;
  line-height: 1.181818182;
}

h2 {
  margin: 16px 0 8px 24px;
  font-weight: normal;
}

ol {
  margin: 0 0 16px 0;
  padding: 0 0 0 24px;
}

li {
  padding: 4px 24px 4px 0;
}

p {
  margin: 0 0 16px 24px;
}

pre {
  margin: 0 0 0 24px;
  font-size: 12px;
}

#info {
  float: left;
  margin-right: 16px;
  width: 50%;
}

#tests {
  position: relative;
  overflow: hidden;
  height: 480px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: right;
}

#tests p {
  margin: 16px 16px 16px 0;
  color: #fff;
  text-shadow: 0 -1px 0 #030001;
}

#test1 {
  float: left;
  width: 12.5%;
  height: 25%;
  background-color: #4F0027;
}

#test2 {
  float: left;
  width: 12.5%;
  height: 25%;
  background-color: #690034;
}

#test3 {
  float: left;
  width: 12.5%;
  height: 25%;
  background-color: #820041;
}

#test4 {
  float: left;
  width: 12.5%;
  height: 25%;
  background-color: #4F0027;
}

#test5 {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #690034;
}

#test6 {
  float: left;
  margin: 25%;
  width: 50%;
  height: 50%;
  background-color: #820041;
}

#test7 {
  float: left;
  margin: 25%;
  width: 50%;
  height: 50%;
  background-color: #4F0027;
}

#logger {
  position: absolute;
  top: 25%;
  left: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  width: 50%;
  height: 75%;
  background-color: #FFE8F3;
}

#logger li {
  padding: 4px 16px;
  background-color: #FFF;
}

#logger li:nth-child(even) {
  background-color: #FFE8F3;
}

#userAgent {
  float: right;
  margin: 16px 0 16px 24px;
  max-width: 440px;
  text-align: right;
}

#forceScroll {
  clear: both;
  height: 1000px;
}

@media all and (max-width: 650px) {
  #info {
    float: none;
    width: auto;
  }
  #logger p {
    text-align: left;
  }
}